#Ignore VS folder
.vs/

# Project files
*.csproj

# Solution files
Intraactive.sln

# Binary outputs
Intraactive/bin/

Intraactive/obj/

# Content importing framework
Intraactive/Content/bin/
Intraactive/Content/obj/
Intraactive/Content/Content.mgcb